body {
    /* background: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 30% 30%, #B22222, #228B22, #000000);
}
p {
    width: 0px;
    height: 0px; /*basically starting off with a square*/
    /* background: red; */
    /* border-right: 385px solid transparent; */
    /* border-left: 385px solid transparent; */
    /* border-bottom: 300px solid #0F3D1A; */
    position: absolute;
}

p[a] {
    border-right: 265px solid transparent;
    border-left: 265px solid transparent;
    border-bottom: 300px solid #0F3D1A;
    top: 30px;
}

p[b] {
    border-right: 335px solid transparent;
    border-left: 335px solid transparent;
    border-bottom: 300px solid #0F3D1A;
    top: 140px;
    border-bottom-color: #013220;
}

p[c] {
    border-right: 375px solid transparent;
    border-left: 375px solid transparent;
    border-bottom: 300px solid #0F3D1A;
    top: 250px;
    border-bottom-color:#0F3D1A;
}

.trunk {
    width: 40px;
    height: 70px;
    background: rgb(46, 18, 18);
    position: absolute;
    top: 550px;
}

/* .star {
    position: absolute;
    display: block;
    position: relative;
    color: gold;
    width: 0;
    height: 0;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    border-bottom: 70px solid gold;
    transform: rotate(35deg);
    top: 34px
} */

 /* .star:after {
    border-bottom: 80px solid gold;
    border-right: 30px solid transparent;
    border-left: 30px solid transparent;
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: -45px;
    left: -65px;
    display: block;
    transform: rotate(-35deg);
} */

/* .star:before {
    border-bottom: 70px solid gold;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    position: absolute;
    top: 3px;
    left: 105px;
    width: 0;
    height: 0;
    transform: rotate(-100deg); 
} */