body {
    /* background: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at 30% 30%, #B22222, #228B22, #000000);
}
p {
    width: 0px;
    height: 0px; /*basically starting off with a square*/
    /* background: red; */
    border-right: 385px solid transparent;
    border-left: 385px solid transparent;
    border-bottom: 300px solid #0F3D1A;
    position: absolute;
}

p[a] {
    top: 30px;
}

p[b] {
    top: 150px;
    border-bottom-color: #013220:
}

p[c] {
    top: 270px;
    border-bottom-color:#0F3D1A;
}

div {
    width: 20px;
    height: 50px;
    background: rgb(46, 18, 18);
    position: absolute;
    top: 224px;
}